/bin/
/build/
/*.exe
/*.dll
/*.so
/*.dylib
/vendor/

coverage.out

.env*
!.env.example

*.log

.vscode/
.idea/

.DS_Store
Thumbs.db
/node_modules

/.next/
/out/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

*.tsbuildinfo
next-env.d.ts
